{% extends "base.html" %}

{% block content %}
    <!-- Secondary Grid Featured blogs -->
    <h3 class="text-uppercase text-warning my-4" style="letter-spacing: 2px;">Category - {{category}}</h3>
    <div class="row mb-2">
      {% if posts %}
      {% for post in posts %}
      <div class="col-md-6">
        <div class="card border-0 shadow-sm mb-4">
          <div class="card-body">
            <h3><a class="text-dark" href="{% url 'blogs' post.slug %}">{{post.title}}</a></h3>
            <small class="mb-1 d-block text-muted">{{post.created_at|timesince}} ago | {{post.author}}</small>
            <p class="card-text mt-2">{{post.short_description | truncatewords:30}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <p>No blogs found</p>
      {% endif %}
    </div>
  </div>
{% endblock %}



